version: '3.6'
services:
  iris:
    build: 
      context: .
      dockerfile: Dockerfile
    restart: always
    ports: 
      - "51773:51773"
      - "52773:52773"
      - "53773:53773"
    volumes:
      - ~/iris.key:/usr/irissys/mgr/iris.key
      - ./app:/irisdev/app
      - ./irisapp:/usr/irissys/csp/irisapp
    container_name: iris_container